apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-ui
  namespace: argocd
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`argocd.local`)
      kind: Rule
      services:
        - name: argocd-server
          port: 443
          scheme: https
          serversTransport: argocd-insecure
---
apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: argocd-insecure
  namespace: argocd
spec:
  insecureSkipVerify: true
