loki:
  enabled: true
  isDefault: true
  persistence:
    enabled: true
    size: 20Gi
  config:
    auth_enabled: false

promtail:
  enabled: true

grafana:
  enabled: false

prometheus:
  enabled: false

fluent-bit:
  enabled: false
