grafana:
  enabled: true
  service:
    type: ClusterIP
  ingress:
    enabled: false
  persistence:
    enabled: true
    size: 5Gi

prometheus:
  ingress:
    enabled: false
  prometheusSpec:
    retention: 7d
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi

alertmanager:
  ingress:
    enabled: false
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi
